@media screen and (max-width: 1070px) {
    .image-container img{
        position: fixed;
        z-index: 1;
        left: 26%;
        top: 2%;
        box-sizing: border-box;
    }
    .middle-container{
        position: fixed;
        bottom: 25%;
        box-sizing: border-box;
        z-index: 1;
        width: 100%;
    }
}
@media screen and (max-width: 992px) {
    .image-container img{
        position: fixed;
        z-index: 1;
        left: 30%;
        top: 2%;
        box-sizing: border-box;
        width: 400px;
        height: 100px;
    }
    .middle-container{
        position: fixed;
        bottom: 35%;
        box-sizing: border-box;
        z-index: 1;
        width: 100%;
    }
}
@media screen and (max-width: 690px) {
    .image-container img{
        position: fixed;
        z-index: 1;
        left: 35%;
        top: 2%;
        box-sizing: border-box;
        width: 300px;
        height: 100px;
    }
    .middle-container{
        position: fixed;
        bottom: 55%;
        box-sizing: border-box;
        z-index: 1;
        width: 100%;
    }
}